@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333333;
  color: #fff;
  font-family: "Inter", sans-serif;
}

#joke-app {
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Inter";
  padding: 0 1rem;
}
@media only screen and (min-width: 600px) {
  #joke-app {
    margin-top: 4rem;
    padding: 0;
  }
}

.heading {
  margin-top: 2rem;
  font-family: "Rubik Scribble";
  font-size: 4rem;
  color: #06da4b;
}

.current-joke {
  background-color: #444;
  padding: 2rem;
  margin-top: 4rem;
  gap: 2rem;
}
@media only screen and (min-width: 600px) {
  .current-joke {
    width: 100%;
  }
}
.current-joke__text {
  font-size: 1.25rem;
}
.current-joke__actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media only screen and (min-width: 600px) {
  .current-joke__actions {
    flex-direction: row;
  }
}
.current-joke__generate, .current-joke__save {
  display: block;
  padding: 1rem;
  font-size: 1.1rem;
  color: #000;
  background-color: #06da4b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .current-joke__generate, .current-joke__save {
    width: fit-content;
  }
}
.current-joke__generate:hover {
  background-color: rgb(4.6339285714, 168.3660714286, 57.9241071429);
}
.current-joke__save:hover {
  background-color: #06da4b;
  color: #000;
}
.current-joke__save {
  background-color: transparent;
  border: 1px solid #06da4b;
  color: #06da4b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.current-joke__save-disabled {
  display: none;
}

.icon-save,
.icon-delete {
  min-width: 1.5rem;
  width: 1.5rem;
}

.icon-delete {
  background-color: #f02e2e;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icon-delete:hover {
  background-color: rgb(219.2633928571, 15.7366071429, 15.7366071429);
}

.saved-jokes {
  margin-top: 4rem;
  padding: 2rem;
}
.saved-jokes__heading {
  font-family: "Rubik Scribble";
  font-size: 2rem;
  text-align: left;
}
.saved-jokes__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1rem;
}

.saved-joke {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #444;
}
.saved-joke__text {
  line-height: 1.4rem;
}
.saved-joke__remove {
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.2s all ease-in-out;
}
.saved-joke__remove:hover {
  background-color: rgb(229.5, 0, 0);
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
