@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  //   box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $primary-font-color;
  font-family: "Inter", sans-serif;
}

#joke-app {
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $secondary-font;
  padding: 0 1rem;

  @include tablet-and-up() {
    margin-top: 4rem;
    padding: 0;
  }
}

.heading {
  margin-top: 2rem;
  font-family: $primary-font;
  font-size: 4rem;
  color: $primary-color;
}

.current-joke {
  background-color: $bg-color-lighten;
  padding: 2rem;
  margin-top: 4rem;
  gap: 2rem;

  @include tablet-and-up() {
    width: 100%;
  }

  &__text {
    font-size: 1.25rem;
  }

  &__actions {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    @include tablet-and-up() {
      flex-direction: row;
    }
  }

  &__generate,
  &__save {
    display: block;
    padding: 1rem;
    font-size: 1.1rem;
    color: #000;
    background-color: $primary-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @include tablet-and-up() {
      width: fit-content;
    }
  }

  &__generate:hover {
    background-color: darken($primary-color, 10);
  }

  &__save:hover {
    background-color: $primary-color;
    color: #000;
  }

  &__save {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__save-disabled {
    display: none;
  }
}

.icon-save,
.icon-delete {
  min-width: 1.5rem;
  width: 1.5rem;
}

.icon-delete {
  background-color: #f02e2e;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: darken(#f02e2e, 10);
  }
}

.saved-jokes {
  margin-top: 4rem;
  padding: 2rem;

  &__heading {
    font-family: $primary-font;
    font-size: 2rem;
    text-align: left;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1rem;
  }
}

.saved-joke {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background-color: $bg-color-lighten;

  &__text {
    line-height: 1.4rem;
  }

  &__remove {
    border-radius: 5px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.2s all ease-in-out;

    &:hover {
      background-color: darken(red, 5);
      cursor: pointer;
    }
  }
}
